* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: filson-pro, sans-serif;
    user-select: none;
}

body {
    background-color: #fff;
}

/* Calendar */

.wrapper{
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

nav {
    width: 100%;
    height: 85px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #1d1d1d;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
}

nav a h1 {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #D9B4FF;
    margin: 20px;
    border-bottom: 0.2vw solid transparent;
    text-align: center;
    transition: 500ms;
    letter-spacing: 0;
    transition: letter-spacing 0.3s ease;
}

nav a:hover {
    letter-spacing: 3px;
}

.hero-section {
    margin-top: 90px;
    text-align: center;
    padding: 25px;
    padding-bottom: 1vw;
    background-color: #f5f5f5;
    color: #333;
}

.hero-section p {
    margin: 1.9vh;
}

.content-section {
    text-align: center;
    padding: 1vw;
    background-color: #fff;
    color: #333;
}

footer {
    text-align: center;
    height: 50px;
    background-color: #1d1d1d;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.social-icons a {
    text-decoration: none;
    color: #fff5f5;
}

.social-icons i {
    font-size: 24px;
    margin-right: 5vw;
}

.social-icons i:hover {
    color:#D9B4FF
}

footer p {
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

span {
    letter-spacing: 0;
    transition: letter-spacing 0.3s ease;
}

span:hover {
    letter-spacing: 0.075vw;
}

.showFormButton i {
    display: none;
}

.showFormButton .button-text {
    display: inline;
}

nav .links a:hover,
nav .links a:active {
    color: #eddbff;
    border-bottom: 0.2vw solid #eddbff;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #1d1d1d;
    color: #D9B4FF;
    border: none;
    width: fit-content;
    padding: 0.5vw 2.5vw;
    border-radius: 0.5vw;
    font-size: 14px;
    cursor: pointer;
}

.btn {
    background-color: #D9B4FF;
    color: #fff;
    border: none;
    width: fit-content;
    padding: 0.5vw 2.5vw;
    border-radius: 0.5vw;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover,
.button-container button:hover {
    background-color: #dec7f6;
}

.mobile-menu-button {
    display: none;
}

.mobile-menu {
    position: absolute;
    display: none;
}

/* Forms */

.form-section {
    width: 59vw;
    height: 50vh;
    background: #fff;
    border-radius: 1vw;
    position: absolute;
    text-align: left;
    padding: 13px;
    color: #333;
    display: none;
    justify-content: center;
    border: 0.1vw solid;
    border-radius: 1vw;
}

.form-section.visible {
    display: block;
}

.modal .form-section {
    background: #fff;
    border-radius: 1vw;
    text-align: left;
    padding: 13px;
    color: #333;
    display: block;
    justify-content: center;
    position: relative;
    z-index: 101;
}

.form-section h2 {
    font-size: 17px;
    top: 0;
    margin: 0 0 19px;
}

.form-section label {
    font-size: 13px;
    margin: 0 0.2vw;
}

.form-input {
    width: 100%;
    margin: 0.5vw auto 1vw;
    font-size: 12px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
}

.close {
    color: #aaa;
    position: absolute;
    top: 1vw;
    right: 1vw;
    font-size: 1.4vw;
    font-weight: bold;
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 1vw;
    right: 1vw;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.clear-btn {
    margin-top: 75px;
    margin-right: 100px;
}

.clear-btn:hover {
    background-color: #333;
}

/* contacts page */

.contacts-container {
    margin-top: 90px;
    width: 100%;
    padding: 1.2vw;
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    text-align: left;
}

.contacts-container h2 {
    font-size: 20px;
    margin-bottom: 1.5vw;
}

.contacts-container input {
    font-size: 1vw;
}

.contactPage-button {
    margin-top: 40px;
}

.button-container label {
    font-size: 17px;
}

.contacts-list {
    background-color: #fff;
    border-radius: 0.8vw;
    padding: 1vw;
    margin: 1vw;
    box-shadow: 0vw 0vw 0.4vw rgba(0, 0, 0, 0.2);
    width: 65%;
    text-align: left;
}

.contact-list {
    background-color: #f5f5f5;
    border: 0.1vw solid #ccc;
    padding: 0.5vw;
    margin: 0.5vw auto;
    width: 15vw;
    display: block;
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    max-height: 100%;
    overflow-y: auto;
}

#contactsList {
    list-style: none;
    padding: 0;
}

#contactsList li {
    margin-bottom: 0.5vw;
}

.deleteContact {
    font-size: 13px;
    padding: 0.45vw 0.95vw;
    margin-right: 0.35vw;
    float: right;
}

span strong {
    font-weight: bold;
    font-size: 19px;
}

span:not(strong) {
    font-weight: normal;
    font-size: 13px;
}

.search-bar input {
    font-size: 14px;
}

/* appts. page */

.appts-container {
    top: 1vw;
    margin-top: 90px;
    width: 100%;
    padding: 1vw;
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    text-align: left;
}

.appts-container h2 {
    font-size: 20px;
    margin-bottom: 1.5vw;
}

.appointment-info {
    background-color: #f5f5f5;
    border: 0.1vw solid #ccc;
    padding: 0.5vw;
    margin: 0.5vw;
    margin-top: 1.5vw;
    width: 22vw;
    display: block;
    clear: left;
    float: left;
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    max-height: 100%;
    overflow-y: auto;
}

.appointment-info p {
    font-size: 15px;
    margin: 0.25vw 0;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Media Queries */

@media screen and (max-device-width: 768px) {

    /* mobile menu */

    .showFormButton {
        font-size: 17px;
    }

    .mobile-menu-button {
        display: block;
        position: absolute;
        right: 0;
    }

    .mobile-menu.show-mobile-menu {
        display: block;
    }

    .mobile-menu {
        position: fixed;
        top: 10%;
        right: 0.25%;
        background-color: #1d1d1d;
        color: #eddbff;
        border-radius: 10%;
        width: 45vw;
        display: none;
        padding: 3vw;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .mobile-menu h2 {
        margin: 2vw 0;
        padding: 0.5vw;
        letter-spacing: 0.1vw;
    }

    .mobile-menu button {
        width: 30vw;
        height: 12vw;
        padding: 1vw 1.5vw;
        border-radius: 1.5vw;
        margin: 1vw 0;
        background-color: #333;
    }

    .mobile-menu button:hover {
        letter-spacing: 0.15vw;
    }

    .modal .form-section {
        width: 75vw;
        border-radius: 15px;
        margin-bottom: 50vw;
    }

    .links {
        display: none;
    }

    .showFormButton .button-text {
        display: none;
    }

    .mobile-menu-button i.fas.fa-bars {
        font-size: 35px;
    }

    /* Forms */ 

    .form-section label {
        font-size: 12px;
        font-weight: 900;
    }

    .form-section h2 {
        font-size: 25px;
    }

    .form-input {
        font-size: 19px;
    }

    .btn,
    .clear-btn {
        font-size: 17px;
        font-weight: bold;
        border-radius: 6px;
    }

    .close-button  {
        font-size: 30px;
    }

    /* Adjustements */

    h3 {
        margin: 19px;
    }

    nav a h1 {
        font-size: 30px;
    }

    nav {
        height: 9vh;
    }

    footer {
        height: 6.5vh;
    }

    footer p {
        font-size: 12px;
    }

    .appts-container,
    .contacts-container,
    .hero-section {
        margin-top: 12vh;
    }

    .social-icons i {
        font-size: 21px;
    }

    .search-bar button,
    .search-bar input {
        font-size: 17px;
    }

    #sortSelect,
    .button-container label {
        font-size: 15px;
    }

    .appts-container h2,
    .contacts-container h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    span strong {
        font-size: 18px;
    }
    
    .deleteContact,
    span:not(strong) {
        font-size: 14px;
    }

    .showFormButton {
        font-size: 15px;
        padding: 9px 19px;
        border-radius: 5px;
    }

    .deleteContact {
        font-size: 13px;
        border-radius: 5px;
    }
}